@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");

    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");

    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  body{
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: black;
      background-color: white;
  }
  /*Pages*/
  .page-header{
      color: #ffffff;
      background: #ffffff;
  }

  .navigation-link{
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    font-style: Bold;
  }
  .button{
    color: #ffffff;
    text-decoration: none ;
    text-transform: uppercase;
    background-color: #756257;

  }
  /*main-index*/
  .index{
    color: black;
    background-color: white;

  }
  .background-index{
    background-image: url("images/background/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .divider{
    background-image: url("images/background/divider.svg");
  }

  .causes{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

  .five-reasons{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }

  .advantages-list{
    text-align: center;
  }
  .advantages-item-item{
    color: white;
    background: #83B3D3;
    width: 400px;
    height: 384px;
  }
  .advantatges-title-title{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
  }

  .advantages-description{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }


  .advantages-item-houme{
    background: rgba(131, 179, 211, 0.12) url("images/advantages/Group-1.svg") no-repeat center;
    width: 400px;
    height: 384px;
  }

  .advantages-item-eat{
    background: #FFFFFF url("images/advantages/Group-2.svg") no-repeat center;
    width: 400px;
    height: 384px;
  }

  .advantages-item-suvenirs{
    background: rgba(131, 179, 211, 0.12) url("images/advantages/Group-3.svg") no-repeat center;
    width: 400px;
    height: 384px;
  }

  .advantages-item-3{
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
  }
  .advantages-item-4{
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
  }
  .advantages-item-5{
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
  }

  .advantatges-title{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
  }


  .hotel-search{
    text-align: center;
  }

  .appointmet-title{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }
  .appointment-description{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }



  .button-button{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background:  #756257;
    position: absolute;
    
  }
/*footer*/
  .subscription{
    background-image: url("images/background/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .subscription-title{
    color: white;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

 .subscription-text{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: white;
 } 

 .footer-contacts-phone{
   font-family: "PT Sans",sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 40px;
   line-height: 40px;
   text-align: center;
   color: black;
   background-color: #ffffff;
   text-decoration: none;
   font-style: Bold;
 }
/*catalog*/
.inner-header{
  background-color: black;
  background-image: url("images/background/catalog-background 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: ;
  color: white;

}

.inner-header-title{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: white;

}

.breadcrumbs-link-index{
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: white;

}

.infrastructure-title{
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

.control{
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

.button-appy{
  color: #ffffff;
  text-decoration: none ;
  text-transform: uppercase;
  background-color: #83B3D3;
}

.product-card-link{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.price{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.product-card-button-button{
  color: #ffffff;
  text-decoration: none ;
  text-transform: uppercase;
  background-color: #756257;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.product-card-button-favorites{
  color: #ffffff;
  text-decoration: none ;
  text-transform: uppercase;
  background-color: #83B3D3;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.product-card-button-favorites-green{
  color: #ffffff;
  text-decoration: none ;
  text-transform: uppercase;
  background-color: #7DB54F;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.rating{
  background-color: #F2F2F2;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.button-loadmore{
  background-color: #83B3D3;
  height: 60px;
  width: 619px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-item{
  background-color: #83B3D3;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-item-1{
  background-color: #F2F2F2;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-link{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #F2F2F2;
}

.hotel-search-select{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: black;
}

.subscription-title-catalog{
  color: black;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-text{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
 } 


