@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/ptsans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/ptsans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pages*/

.page-header {
  color: #ffffff;
  background: #ffffff;
}

.navigation-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: black;
  background-color: #ffffff;
  text-decoration: none;
  font-style: Bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 17px;
  display: block;
}

.button {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.navigation-item-button {
  width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756257;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.main-index {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 354px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigationuser {
  width: 264px;
  margin-left: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 80px;
}

.index {
  color: black;
  background-color: white;
}

.background-index {
  padding: 0;
  margin: 0;
  background: url("images/logo/VectorDel.svg") bottom no-repeat,
    url("images/background/index-background.jpg") 100% no-repeat;
}

. .divider {
  background-image: url("images/background/divider.svg");
}

.causes {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
}

.five-reasons {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  width: 720px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.advantages {
  margin: 0 auto;
  padding: 0 auto;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: 0;
  display: flex;
  flex-wrap: wrap;
}

.box-advantages {
  width: 400px;
  background: #83b3d3;
  color: white;
}

.advantages-live {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: 0;
  display: flex;
}

.advantages-item-photo {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-item-2 {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

.icon {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 72px;
  padding: 89px 162px 30px 163px;
}

.advantatges-title-2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 250px;
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-description-2 {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 250px;
  padding: 20px 75px 79px 75px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-item-3 {
  width: 400px;
  min-height: 384px;
  background: #ffffff;
}

.advantatges-title-3 {
  margin: 0;
  padding: 0;
}

.advantages-item-item-4 {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-item-5 {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-item-6 {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-item-7 {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

.advantatges-title-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 250px;
  padding: 0 75px 30px 75px;
}

.advantatges-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 400px;
  padding-top: 97px;
  padding-bottom: 30px;
}

/*search*/

.hotel-search {
  text-align: center;
  width: 1200px;
  height: 417px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.appointmet-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  margin: 91px 240px 29px 240px;
}

.appointment-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin: 0px 240px 56px 240px;
}

.button-button {
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #756257;
  font-weight: 700;
  width: 575px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 108px;
}

/*subscription*/

.subscription {
  width: 1200px;
  min-height: auto;
  background-image: url("images/background/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  width: 600px;
  height: 60px;
  margin: 0px 0px 90px 200px;
  border-radius: 10px 0px 0px 10px;
}

.news-letter-form {
  margin: 0;
  padding: 0;
  display: flex;
}

.button-newsletter-button {
  width: 200px;
  height: 65px;
  background-color: #83b3d3;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  margin: 94px 240px 29px 240px;
}

.subscription-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: white;
  width: 720px;
  margin: 0px 240px 46px 240px;
}

/*footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 49px 50px 53px 50px;
}

.footer-social-item {
  width: 25px;
  height: 25px;
  text-align: center;
  margin-top: 8px;
  margin-left: 17px;
}

.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: black;
  background-color: #ffffff;
  text-decoration: none;
  font-style: Bold;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 720px;
  margin-left: 65px;
  margin-right: 55px;
  text-align: center;
}

.logo-htmlacademy {
  width: 115px;
  margin-top: 42px;
  margin-bottom: 44px;
  margin-right: 72px;
  margin-left: 53px;
}

/*catalog*/

.inner-header {
  background-color: black;
  background-image: url("images/background/catalog-background\ 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: white;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  margin: 0;
  padding: 0;
  width: 528px;
  margin-right: 601px;
  margin-left: 71px;
  padding-top: 35px;
  padding-bottom: 5px;
}
/*bredcrums*/

.breadcrumbs {
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 69px;
}

.breadcrumbs-link-index {
  text-decoration: none;
  color: #ffffff;
}

.img-navigation {
  padding-top: 6px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

.button-appy {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
}

/*select-search*/
.sorting-container {
  width: 1057px;
  margin: 0 auto;
  display: flex;
}

.sorting-title {
  width: 337px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 50px;
}

.select-control {
  width: 287px;
  height: 48px;
  margin: 44px 97px 40px 191px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-list {
  width: 100px;
  margin-top: 60px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.prooduct-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding: 0px 78px 34px 66px;
  list-style: none;
  width: 1056px;
}

.prooduct-item:nth-child(3n) {
  margin-right: 0;
}

.product-card {
  width: 340px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 10px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-bottom: 15px;
}

.price {
  width: 300px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

.button-card {
  padding: 0;
  margin: 0;
}

.product-card-button-button {
  width: 133px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #756257;
  border-radius: 4px;
}

.price-card {
  margin-left: 80px;
}

.product-card-button-favorites {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.product-card-button-favorites-green {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #7db54f;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.rating {
  background-color: #f2f2f2;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.button-pagination-loadmore {
  width: 1056px;
  height: 120px;
  padding: 34px 70px 20px 70px;
  text-align: center;
  margin-top: 34px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.button-loadmore {
  min-width: 620px;
  min-height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border: none;
  border-radius: 4px;
  margin: 30px 290px;
}

.pagination-box {
  display: flex;
  margin-top: 30px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
}

.subscription-no-background {
  width: 800px;
  padding: 0;
  margin: 0;
  padding: 73px 206px 0px 194px;
  text-align: center;
}

.pagination-item {
  background-color: #83b3d3;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f2;
  border-radius: 4px;
}

.select {
  margin-left: auto;
}

.hotel-search-select {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: black;
}

.field {
  margin: 0;
  padding: 0;
}

.subscription-title-catalog {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-text-catalog {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}
