@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;

  src: url("fonts/ptsans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;

  src: url("fonts/ptsans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;

  min-height: 100%;
  margin: 0;

  color: black;
  background-color: #e5e5e5;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 100%;

  background-color: rgba(235, 235, 235, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;

  background-color: #fff;
}

.modal-search {
  width: 715px;

  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;

  width: 53px;
  height: 53px;
  padding: 0;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  border: 3px solid #83b3d3;
  outline: none !important;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;

  stroke: gray;
  fill: gray;
}

.output-svg {
  padding-top: 2px;
  padding-left: 1px;
}

.modal-close-button:active .output-svg {
  fill: rgba(90, 90, 90, 0.788);
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;

  margin: 0;
  padding-top: 62px;
  padding-right: 148px;
  padding-left: 68px;

  text-transform: uppercase;
}

.modal-appointment-form {
  margin: 0;
  margin-top: 60px;
}

.field-group {
  margin: 0;
  margin-top: -10px;
}

.label-box {
  display: inline-block;

  width: 155px;
  margin-left: 70px;

  text-align: left;
}

.form-label {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;

  margin: 0;
  padding: 0;
}

.field-date {
  font: inherit;
  font-weight: 700;

  width: 390px;
  height: 50px;
  padding-left: 20px;

  color: black;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.field-date:hover {
  background-color: #e6e6e6;
}

.field-date:focus {
  outline: none !important;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.field-date:active {
  background-color: #fff;
  box-shadow: 0 0 0 2px #000;
}

.label-box-select_tooltip {
  margin: 0;
  margin-right: 48px;
  margin-left: 56px;
  padding-top: 5px;
}

.tooltip {
  position: absolute;

  margin-top: 8px;
  margin-left: 13px;
}

.tooltip_toggle {
  display: block;

  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding-top: 12px;

  content: "";

  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("images/navigation/image-info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip_toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  position: absolute;
  top: 45px;
  left: -117px;

  display: block;
  display: none;

  width: 220px;
  padding: 15px 18px 18px 22px;

  color: #fff;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.tooltip-text::after {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;

  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;

  content: "";

  background-image: url("images/navigation/tooltip.svg");
}

.tooltip_toggle:hover + .tooltip-text,
.tooltip_toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
}

.active-span {
  font-size: 16px;
  line-height: 40px;

  margin-left: 230px;

  color: #ff5757;
}

.none-span {
  color: #333;
}

.form_class {
  background-image: url("images/logo/date.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.field-date::placeholder {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  color: black;
}

.inline-box {
  display: flex;

  margin-top: -10px;
}

.field-select {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;

  width: 35px;
  height: 50px;
  padding-left: 5px;

  text-align: center;

  border: none;
  outline: none !important;
  background-color: #f2f2f2;
}

.field-select::placeholder {
  color: black;
}

.plus-box-button {
  display: block;

  width: 44px;
  height: 52px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.plus_box {
  transform: rotate(180deg);
}

.plus-minus-button {
  width: 25px;
  height: 22px;
  margin-top: 15px;
  margin-left: 10px;

  cursor: pointer;

  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.plus-minus-svg {
  padding-bottom: 3px;
}

.plus_button {
  padding-top: 5px;
}

.plus-button:hover .plus-minus-svg {
  fill: black;
}

.plus-minus-button:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #68a2ca;
}

.plus-minus-svg:hover {
  fill: black;
}

.label-box-select {
  width: 155px;
  margin-left: 70px;
  padding-top: 5px;
}

.label-box-select_tultip {
  margin-left: 56px;
}

.button-search-box {
  width: 575px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 0;

  text-align: center;
  text-align: center;

  border: none;
  border-radius: 10px;
  background-color: #83b3d3;
}

.button-search-box:hover {
  background-color: #68a2ca;
}

.button-search-model:focus {
  border-radius: 10px;
  box-shadow: 0 0 0 3px #756257;
}

.button-search-model:active {
  color: #d6d5d573;
  background-color: #68a2ca;
}

.button-search-model {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;

  display: block;

  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  outline: none !important;
}

/*Pages*/

.page-header {
  color: #fff;
  background: #fff;
}

.navigation-link {
  font-weight: 700;
  font-style: Bold;
  line-height: 26px;

  position: relative;

  display: block;

  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;

  text-align: center;
  text-decoration: none;

  color: black;
  background-color: #fff;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.nav-icon:hover {
  fill: #756257;
}

.nav-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::after {
  position: absolute;
  bottom: -1px;
  left: 50%;

  width: calc(100% - 34px);
  height: 2px;

  content: "";
  transform: translateX(-50%);

  background-color: #756257;
}

.logo {
  position: relative;

  margin-bottom: -5px;
}

.button-welcome {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;

  display: block;

  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #756257;
  background-repeat: no-repeat;
}

.button-welcome:hover {
  background-color: #615048;
}

.button-welcome:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-welcome:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.navigationuser li:nth-child(2) {
  position: relative;

  margin-right: 20px;
}

.favorite-counter {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;

  position: absolute;
  bottom: 34px;
  left: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background-color: #7db54f;
}

.navigation-item-button {
  width: 160px;
  height: 37px;
  margin-top: 13px;
}

.main-index {
  flex-grow: 1;

  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;

  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;

  width: 354px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 4px;
}

.favorite {
  width: 20px;
  height: 20px;
}

.navigationuser {
  width: 264px;
  margin-left: auto;
}

.welcome {
  display: block;

  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 20px;
}

.index {
  color: black;
  background-color: white;
}

.background-index {
  background: url("images/background/index-background.jpg") 100% no-repeat;
}

.background-index::after {
  display: block;

  height: 57px;
  margin: 0;
  padding: 0;

  content: "";

  background: url("images/logo/VectorDel.svg") 100% no-repeat;
  background-size: cover;
}

.causes {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;

  width: 720px;
  margin: 0 auto;
  padding-top: 63px;

  text-align: center;
  text-transform: uppercase;
}

.five-reasons {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;

  width: 720px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 80px;

  text-align: center;
}

.advantages {
  margin: 0 auto;
  padding: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  list-style: 0;
}

.box-advantages {
  width: 400px;

  color: white;
  background: #83b3d3;
}

.advantages-live {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  list-style: 0;
}

.advantages-item-photo {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-item {
  width: 400px;
  min-height: 384px;

  text-align: center;
}

.advantages-background:nth-child(1) {
  background: url("images/advantages/Group-1.svg") no-repeat center 89px,
    rgba(131, 179, 211, 0.12);
}

.advantages-background:nth-child(2) {
  background: url("images/advantages/Group-2.svg") no-repeat center 89px, #fff;
}

.advantages-background:nth-child(3) {
  background: url("images/advantages/Group-3.svg") no-repeat center 89px,
    rgba(131, 179, 211, 0.12);
}

.advantatges-title-2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;

  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 184px;
  padding-right: 75px;
  padding-left: 75px;

  text-align: center;
  text-transform: uppercase;
}

.advantages-description-2 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;

  width: 250px;
  margin: 0;
  padding: 0;
  padding: 20px 75px 79px 75px;

  text-align: center;
}

.advantages-background-light {
  background: #fff;
}

.advantatges-title-3 {
  margin: 0;
  padding: 0;
}
.advantages-background-dark {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-background-dark-2 {
  background: rgba(131, 179, 211, 0.2);
}

.advantatges-title-title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;

  width: 250px;
  margin: 0;
  padding: 0;
  padding: 0 75px 30px 75px;

  text-align: center;
}

.advantatges-title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;

  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 97px;
  padding-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
}

/*search*/

.hotel-search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  text-align: center;
}

.appointmet-title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;

  width: 720px;
  margin: 91px 240px 29px 240px;

  text-align: center;
  text-transform: uppercase;
}

.appointment-description {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;

  width: 720px;
  margin: 0 240px 56px 240px;

  text-align: center;
}

.button-search-hotel {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;

  width: 575px;
  height: 60px;
  margin-right: auto;
  margin-bottom: 108px;
  margin-left: auto;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 10px;
  background: #756257;
}

.button-search-hotel:hover {
  background-color: #615048;
}

.button-search-hotel:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none !important;
}

.button-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
/*subscription*/

.subscription {
  display: flex;
  flex-direction: column;

  min-height: auto;
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: black;
  background-image: url("images/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.field {
  font: inherit;

  margin: 0;
  padding: 0 20px;

  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
}

.input[type="emaill"]:invalid {
  outline: 3px solid red;
}

.field:hover,
.field:focus {
  background-color: #e6e6e6;
}

.field:focus {
  padding: 0 20px;

  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.news-letter-form {
  display: grid;
  justify-content: center;

  padding-bottom: 93px;

  grid-template-columns: 600px 200px;
}

.button-newsletter-button {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;

  width: 200px;
  height: 65px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #83b3d3;
}

.button-newsletter-button:hover {
  background-color: #68a2ca;
}

.button-newsletter-button:focus {
  box-shadow: inset 0 0 0 3px #756257;
  outline: none !important;
}

.button-newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;

  width: 720px;
  margin: 94px 240px 29px 240px;

  text-align: center;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;

  width: 720px;
  margin: 0 240px 30px 240px;

  text-align: center;

  color: white;
}

/*footer*/

.page-footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;

  width: 200px;
  margin: 0;
  padding: 0;
  padding: 49px 50px 53px 50px;

  list-style-type: none;
}

.footer-social-item {
  margin: 0;
  padding: 0;

  text-align: center;
}

.button-social:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-social {
  display: block;

  width: 20px;
  height: 16px;
  margin: 0;
  padding: 8px 10px 10px 10px;

  text-align: center;

  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-icon:hover {
  fill: #68a2ca;
}

.footer-social-icon:active {
  fill: rgba(135, 178, 207, 0.308);
}

.button-social:active{
  box-shadow: none;
}

.footer-contacts-phone {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  font-style: Bold;
  line-height: 40px;

  width: 350px;
  margin-top: 40px;
  margin-right: 55px;
  margin-bottom: 40px;
  margin-left: 100px;
  padding-top: 5px;

  text-align: center;
  text-decoration: none;

  color: black;
  border-radius: 10px;
  background-color: #fff;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.footer-contacts-phone:active {
  color: rgba(143, 138, 136, 0.61);
}

.footer-copyright-image:hover {
  fill: #756257;
}

.footer-copyright-image:active {
  fill: rgba(143, 138, 136, 0.61);
}

.box-logo {
  margin: 0;
  margin-top: 48px;
  margin-right: 72px;
  margin-left: auto;
  padding: 0;
}

.htmlacademy-link:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #68a2ca;
}

.htmlacademy-link {
  width: 115px;
  height: 40px;
  margin: 0;
  padding: 0;
  padding: 30px 20px 10px 20px;

  text-align: center;

  border-radius: 10px;
}

/*catalog*/

.inner-header {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;

  color: white;
  background-color: black;
  background-image: url("images/background/catalog-background1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 78px;

  width: 528px;
  margin: 0;
  margin-right: 601px;
  margin-left: 71px;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 5px;

  color: white;
}
/*bredcrums*/

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;

  display: flex;
  justify-content: space-between;

  max-width: 130px;
  margin: 0;
  margin-left: 69px;
  padding: 0;
}

.button-home {
  width: 25px;
  margin: 0;
  padding: 0;

  text-align: center;

  border-radius: 4px;
}

.button-home:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.home-breadcrumbs:hover {
  fill-opacity: 60%;
}

.home-breadcrumbs:active {
  fill-opacity: 30%;
}

.breadcrumbs-link-index {
  width: 90px;
  height: 23px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-radius: 4px;
}

.breadcrumbs-link-index:hover {
  opacity: 60%;
}

.breadcrumbs-link-index:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.breadcrumbs-link-index:active {
  opacity: 30%;
}

.infrastructure-group {
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  border: none;
}

.navigation-bredcrumbs {
  padding-top: 7px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 42px 72px 83px 72px;
}

.infrastructure-title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;

  color: white;
}

.infrastructure-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding-top: 30px;

  list-style: none;

  row-gap: 13px;
}

/*Control*/

.control {
  position: relative;

  display: block;

  margin-left: -8px;

  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: -30px;

  width: 20px;
  height: 20px;

  content: "";

  border-radius: 4px;
  background-color: #fff;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="checkbox"]:active + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 8px;
  left: 5px;

  width: 12px;
  height: 2px;

  content: "";

  background-color: #3f5e72;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  top: 10px;
  left: 3px;

  width: 8px;

  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  top: 8px;
  left: 7.8px;

  width: 10px;

  transform: rotate(-47deg);
}

/*radio*/
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  content: "";

  border-radius: 50%;
  background-color: #3f5e72;
}


.control-input[type="radio"]:focus + .control-mark{
  box-shadow: 0 0 0 3px #83B3D3;
}

.not-hover:hover .control-mark{
  background-color: rgba(255, 255, 255, 0.993);
}

.control-input[type="radio"]:active + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

/*Range*/
.range {
  margin: 0;
  padding-top: 32px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.catalog-filter-label {
  position: relative;
}

.range-scale {
  position: relative;

  width: 287px;
  height: 4px;
  margin-top: 32px;

  background-color: gray;
}

.range-bar {
  position: absolute;
  right: 60px;

  width: 227px;
  height: 4px;

  background-color: #fff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.range-toggle:hover {
  padding: 10px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: none !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
}

.range-toggle:active {
  outline: none !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25), 0 0 0 2px #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;

  position: relative;

  width: 287px;
  height: 48px;
  padding-left: 17px;

  color: #fff;
  border: 2px solid #fff;
  outline: none !important;
  background: transparent;
}

.range-input:hover {
  opacity: 70%;
}

.range-input:focus {
  border: 2px solid #fff;
  box-shadow: 0 0 0 4px #81b3d2, inset 0 0 0 4px #81b3d2;
}

.range-input:active {
  background-color: #756257;
  box-shadow: none;
  border: none;
}

.range-input_1 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-input_2 {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-wrapper-inputs {
  display: flex;
}

.input-price_1,
.input-price_2 {
  font-size: 18px;
  font-weight: 400px;
  line-height: 23px;

  position: absolute;
  top: 13px;
  left: 115px;

  opacity: 30%;
}

.control {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;

  color: white;
}

.reset-submit {
  display: flex;
  flex-direction: column;

  padding-top: 57px;

  text-align: center;
}

.button-appy {
  font-size: 16px;
  font-style: bold;
  line-height: 21px;

  width: 160px;
  height: 48px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none !important;
  background-color: #83b3d3;
}

.button-appy:hover {
  background-color: #68a2ca;
}

.button-appy:focus {
  border: 3px solid #fff;
}

.button-appy:active {
  color: rgb(223, 217, 217);
  background-color: #81b3d4;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;

  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none !important;
  background: none;
}

.button-reset:hover {
  opacity: 70%;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-reset:active {
  color: rgb(146, 141, 141);
}

/*select-search*/
.sorting-container {
  display: flex;

  width: 1057px;
  margin: 0 auto;
}

.sorting-title {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 39px;

  width: 337px;
  margin-top: 50px;

  text-transform: uppercase;
}

.select-control {
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  margin: 0;
  margin: 44px 0 40px 192px;
  padding: 0;

  cursor: pointer;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.select-control:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.select-control:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.select-control:active {
  opacity: 30%;
}

.sorting-list {
  display: flex;

  width: 200px;
  margin: 0;
  margin: 44px 0 53px 90px;
  padding: 0;

  list-style-type: none;
}

.button-sorting {
  display: block;

  width: 44px;
  height: 42px;
  margin: 0;
  margin-left: 8px;
  padding: 0;

  cursor: pointer;
  text-align: center;

  border: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

.button-active {
  border: 2px solid #000;
}

.button-sorting:hover,
.button-sorting:focus {
  box-sizing: border-box;

  border: 2px solid #83b3d3;
  outline: none !important;
}

.icon-sorting {
  width: 16px;
  height: 14px;
  padding-top: 2px;
}

.product-list {
  margin: 0 auto;
}

.prooduct-item {
  position: relative;

  display: grid;

  margin: 0;
  padding: 0;
  padding-right: 72px;
  padding-left: 72px;

  list-style: none;

  grid-template-columns: 340px 340px 340px;
  gap: 18px;
}

.prooduct-item:nth-child(3n) {
  margin-right: 0;
}

.product-card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 340px;
  margin-bottom: 10px;
}

.prooduct-item::after {
  position: absolute;
  right: 93px;
  bottom: -23px;

  width: 1033px;
  height: 1px;

  content: "";

  background-color: #e6e6e6;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title-link {
  font-size: 24px;
  line-height: 31px;

  align-self: flex-start;

  max-width: 250px;
  margin-bottom: 0;
  margin-left: 20px;
  padding-bottom: 0;

  text-decoration: none;

  color: #000;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
}

.product-card-img:hover {
  opacity: 60%;
}

.product-card-img:active {
  opacity: 30%;
}

.product-card-link:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.product-card-link {
  width: 302px;
  height: 208px;
}

.box-product-button {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0;
  padding: 0;
}

.box-product-rating {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 0;
}

.price {
  font-size: 18px;
  line-height: 23px;

  display: flex;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  text-align: center;

  color: #333;
}

.product-card-button-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  display: inline-block;

  padding: 10px 25px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #756257;
}

.product-card-button-button:focus {
  outline: none !important;
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.product-card-button-button:hover {
  background-color: #615048;
}

.product-card-button-button:active {
  color: gray;
  background-color: #615048;
}

.price-card {
  margin-left: 100px;
}

.product-card-button-favorites {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;

  display: inline-block;

  width: 140px;
  height: 37px;
  padding: 9px 10px 10px 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #83b3d3;
}

.product-card-button-favorites-green {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;

  display: inline-block;

  width: 140px;
  height: 37px;
  padding: 9px 10px 10px 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #7db54f;
}

.decore-button:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #756257;
}

.product-card-button-favorites:active {
  color: rgba(201, 185, 185, 0.658);
  background-color: #68a2ca;
}

.product-card-button-favorites-green:hover {
  background-color: #6c9e42;
}

.product-card-button-favorites-green:active {
  color: rgba(201, 185, 185, 0.658);
}

.stars {
  width: 90px;
  height: 17px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-top: 5px;

  background-image: url("images/navigation/star1.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.three-stars {
  width: 70px;
}

.two-stars {
  width: 47px;
}

.rating {
  font-size: 16px;
  line-height: 21px;

  width: 160px;
  height: 37px;
  margin: 0;
  padding: 15px 0 0 0;

  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #f2f2f2;
}

.button-loadmore {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  width: 620px;
  height: 60px;
  margin-top: 60px;
  margin-right: 290px;
  margin-bottom: 60px;
  margin-left: 290px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 4px;
  background: #83b3d3;
}

.button-loadmore:hover {
  background-color: #68a2ca;
}

.button-loadmore:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #756257;
}

.button-loadmore:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-box {
  position: relative;

  display: flex;

  margin-top: 30px;
}

.pagination-box::before {
  position: absolute;
  top: -50px;
  left: 72px;

  width: 1033px;
  height: 1px;

  content: "";

  background-color: #e6e6e6;
}

.pagination {
  display: flex;

  margin: 0;
  margin-right: 0;
  margin-left: 72px;
  padding: 0;

  list-style-type: none;

  text-align: center;
}

.disabled {
  font-weight: 700;
  line-height: 16px;

  display: block;

  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;

  text-decoration: none;

  color: black;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #756257;
}

.pagination-link:active {
  color: rgb(228, 216, 216);
  background-color: #68a2ca;
}

/*Подписка на рассылку*/

.subscription-catalog {
  display: flex;
  flex-direction: column;

  max-width: 830px;
  margin: 0 auto;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 140px;

  color: black;
  background-color: white;
}

.subscription-title-catalog {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
}

.subscription-text-catalog {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;

  margin-bottom: 46px;

  text-align: center;

  color: black;
}

.news-letter-form-catalog {
  display: grid;
  justify-content: center;

  grid-template-columns: 600px 200px;
}

.button-newsletter-button-catalog {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;

  width: 200px;
  height: 65px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #83b3d3;
}

.button-newsletter-button-catalog:hover {
  background-color: #68a2ca;
}

.button-newsletter-button-catalog:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px #756257;
}

.button-newsletter-button-catalog:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item {
  width: 55px;
  height: 55px;

  border-radius: 5px;
  background-color: #83b3d3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  line-height: 16px;

  display: block;

  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 17px;

  text-decoration: none;

  color: #fff;
  border-radius: 8px;
  background-color: #83b3d3;
}

.select {
  display: flex;

  height: 48px;
  margin-left: 300px;

  text-align: center;
}

.select-pagination:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.select-pagination:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.select-pagination:active {
  opacity: 30%;
}

.hotel_select {
  margin: 0;
  padding: 0;
  padding-top: 12px;
}

.select-pagination {
  width: 140px;
  height: 48px;
  margin-left: 50px;

  cursor: pointer;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-search-select {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 39px;

  text-transform: uppercase;

  color: black;
}
